*{
    margin:0;
    padding:0;
    box-sizing:boder-box;
}

body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:1rem;
    font-family:sans-serif;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;

}

#start-screen h1{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p{
    color: #666;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

button{
    background-color: #e86a33;
    color: white;
    border: none;
    box-shadow: gray 0px 4px 6px -1px;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #d45b28;

}

.quiz-header{
    margin-bottom: 1rem;
}

#qusetion-text{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 20px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.answer-btn{
    background-color: #f8f0e5;
    color:#333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.answer-btn:hover{
    background-color: #e0d2c0;
    border-color: #d4bfa8;
}
/* to be added for answer button*/

.answer-btn.correct{
    background-color: #c8e6c9;
    border-color: #81c784;
    color: #2e7d32;
}

.answer-btn.incorrect{
    background-color: #ffcdd2;
    border-color: #e57373;
    color: #c62828;
}

.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    height: 100%;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.3s ease;
}

#result-screen h1{
    color:#e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;

}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color:#333;
    margin-bottom: 10px;
}

.result-message{
    font-size: 1.5rem;
    color:#e86a33;
    font-weight: 600;
}

@media(max-width: 500px){
    .screen{
        padding: 1rem;
    }

    #start-screen h1{
        font-size: 2rem;
    }

    #question-text{
        font-size: 1.2rem;
    }

    .answer-btn{
        padding: 12px;
    }

    button{
        padding: 12px 20px;
        font-size: 0.9rem;
    }
}